@import "../../globalStyles.scss";

.Navbar {
  height: 50px;
  .navbar-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px 30px;
    .logo {
      font-size: 1.8rem;
      @include responsive("phone") {
        font-size: 1rem;
      }
      span {
        background-color: tomato;
        padding: 0 5px;
        border-radius: 5px;
        color: rgb(229, 231, 238);
      }
    }
    .search-bar {
      display: flex;
      align-items: center;
      border: 1px solid gray;
      background-color: white;
      padding: 2px 10px;
      border-radius: 5px;
      input {
        border: none;
        outline: none;
      }
    }
  }
}
